# Environment
.env
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/

# DB
*.sqlite3
*.db

# Streamlit
.streamlit/credentials.toml

# Virtual Environment & Huge Models
venv/
backend/venv/
backend/models/
models/
faiss_index/
.pytest_cache/
